*{
	margin:0;
	padding:0;
	box-sizing: border-box;
    letter-spacing: 0.5px;
    text-decoration: none;
 
}



/* Login PAge */

@media (min-width: 1200px){
.container {
    max-width: 1200px!important;
}
}




.desktopveiw{
    display: block !important;
}


.mobileveiw{
    display: none !important;
}

.ForgetPwd{
    color:#3D8E99 !important;
    font-weight: 400;
    text-decoration: none;
    margin-top:15px;
}

.ForgetPwd a{
    color: #A29C9C;
    text-decoration: none;
  }

  .ForgetPwd a:hover{
    color:#3D8E99 !important;
    text-decoration: none;
  }

.box-width {
    background-color: #000;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}
.box-width {
    padding: 0px 30px;
}


.Login-Style{
    background-color:#fff!important; 
}

.formstyle{
    border: 1px solid #c2cbd4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}
.btnLogin
{
    background-color: #121212!important;
  font-size: .875rem;
  border-radius: 4px;
  font-weight: normal;
  font-size:14px;
  color: #fff;
  padding: 10.5px 30px;
  border:1px solid #fff!important;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}

.btnLoginfree
{
    
    padding: 1.5%;
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
    background: #121212!important;
    border-color: #a88734 #9c7e31 #846a29 !important;
    color:#000!important;
    font-size:15px!important;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}

.btnLogin:hover
{
    background-color: #111!important;
    color:#F5C518!important;
}

/* .modal-body {
    border: 1px solid #c2cbd4 !important;
    padding: 30px !important;
    margin: 30px !important;
    border-radius: 10px;
} */

footer a {
    color: #A29C9C !important;
    transition: color 0.4s ease 0s;
    font-size: 16px;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}

footer a:hover {
    color: #fff!important;
    transition: color 0.4s ease 0s;
    font-size: 16px;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}

.btn-floating {
    /* position: relative; */
    /* z-index: 1; */
    display: inline-block;

    transition: all .2s ease-in-out;
    width: 0px;!important
    height: 0px;!important
    padding: 15px;
  }

.btn-floating.btn-sm {
    width: 36.15385px;
    height: 36.15385px;
}

.btn-floating i {
   display: flex !important;
    color: #fff !important;
    justify-content: space-around;
  }

/* Login and registration */

/* Body Background images */

.header-background{
    background-color: #1a1a1a !important;
    background-size: cover;
    height: auto;
    width: 100%;
    background-color: #FCFCFC;
}

/* Body Background images */


/* Header And Footer */

.left-column.bg-black {
    background-color: #000;
}

.First-column.bg-black {
    background-color: #000 !important;
}

.left-column{
  background-color: #111;
  

}

.box-width{
    padding: 0px 30px;
    
}

.Logostyle{
   
    background-color: #000;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
    border: 3px solid #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;

    
}

a:hover{
  color:fff!important;
  text-decoration: none !important;
}

.Logostyle a:hover{
   
    background-color: #fff !important;
      
}

.span-text-grey{
color: #A29C9C;
}

a:hover {
   
}



.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-top: 8px;
}

.li-text li{
    padding: 0 20px;
    font-size: 18px;

    }

.fa{
    width: 30px !important; 
    height: 30px !important; 
    object-fit: cover;
    }

.li-color{
    display: inline-block;
    padding: 0 10px;
    color: #A29C9C;
    transition: color 0.4s ease 0s;
    font-size:22px;
}

.li-color:hover {
    color: #fff;
    transition: color 0.4s ease 0s;
}


.paragraph h2{
 font-size:50px;
 letter-spacing:0.05em;
 font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}

.box-width{
 background-color: #000;
   font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}

.old-bv {
    font-size: 14px;
    background-color: #322348;
}

.left-column{
    width:70%;
    float: left;
}



.image-width{
    background-color:#fff;
  display: flex;
  flex-direction: row;  
}

.wrap-text h3{
      font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}

ul{
     list-style:none;
     color:#3D8E99;
}

.ul-text-color li{
    color:#3D8E99;
    font-size:13px;
}

.p-text{
    font-size: 14px;
}

.span-style{
    color: #3D8E99 !important;
    font-size: 15px;
    font-family: Oswald;
}

.span-text{

}

.images-size{
    width:44% !important;
}

.images-size img{
    width:38% !important;
}

.wrap-gallery {
  position: relative;
  margin-top: 2.5%;
  
}

.link-text{
    color:#3D8E99 !important;
    font-size: 14px;
    font-weight: 500;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}
.overlay {
  position: absolute; 
  bottom: 0; 
  
  color: #f1f1f1; 
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 12px;
  text-align: center;
  padding:10px;
  width:24%;
  font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
  letter-spacing:0.05em;
}

.wrap-gallery .overlay {
  opacity: 1;
}

.overlay1 {
  position: absolute; 
  bottom: 0; 
  
  color: #f1f1f1; 
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 12px;
  text-align: center;
  padding:10px;
  width:49%;
  font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
  letter-spacing:0.05em;
}

.wrap-gallery .overlay1 {
  opacity: 1;
}

.Second-column{
    background-color:#FCFCFC !important;
    padding:15px;
}
.Second-column h2{
  font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}
.h3-text-color{
    color: #BFBFBF;
    font-size:20px;
    letter-spacing:0.08em !important;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}

.img-thumbnail {

    border: 0px !important;
    background-color:#FCFCFC !important;
}


.right-column{
    width:30%;
    float: right;
    background-color: #EEE6E6 !important;
  }

.dashboard-icon{
  font-size: 30px;
  font-weight:600;
  font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
  color:#000;
  
  }


.dashboard-icon1{
  font-size: 18px;
  font-weight:300;
  font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
  color:#000;
 
  }

.dashboard-icon1:hover {
color: #3D8E99!important;
 }



i.fa.fa-icon {
  font-size: 38px;
}

i.fa.fa-icon1 {
  font-size: 18px;
}


.list-align{
    line-height: 35.5px;
    font-size: 12px;
}

.table th {
  
    border:none !important;
    font-weight: 200!important;
    font-size: 12px !important;
    
}

.table td {
  
    border:none !important;
    font-weight: 200!important;

    font-size: 12px !important;
    
}

.p-text p{
    font-weight:400;
    font-size: 16px;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}

.side-paragraph{
    font-size:13px;
}

button.btn.btn-style{
    background-color: rgba(176, 56, 32, 1);
    border: solid rgba(255, 255, 255, 1) 0px;
    cursor: pointer !important;
    color: #000;
    font-weight: bold;
    padding: 10px 70px;
}

button.btn.btn-style:hover {
    background-color: rgba(162, 156, 156, 1);
    border-color: rgba(255, 255, 255, 1);
    font-weight: bold;
    padding: 10px 70px;
}

.DesktopFirstGallery{
    display: block;
}

.MobileFirstGallery{
    display: none !important;
}

.p-text1{
 font-size:13px;
 font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
}

.card-header{

 font-family: 'Oswald', sans-serif !important;
}

.card-body{
font-size:13px !important;

}

.p-text2{
font-size:10px;
 font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;

}

footer a {
    color: #A29C9C !important;
    transition: color 0.4s ease 0s;
    font-size: 16px;
}

footer a:hover {
    color: #fff!important;
    transition: color 0.4s ease 0s;
    font-size: 16px;
}

.btn-floating {
    /* position: relative; */
    /* z-index: 1; */
    display: inline-block;

    transition: all .2s ease-in-out;
    width: 0px;!important
    height: 0px;!important
    padding: 15px;
  }

.btn-floating.btn-sm {
    width: 36.15385px;
    height: 36.15385px;
}

.btn-floating i {
   display: flex !important;
    color: #fff !important;
    justify-content: space-around;
  }

.fab {
    font-family: "Font Awesome 5 Brands";
}

/*Modal Products*/

.li-style-products-Add{
  background-image:
    linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(0,0,0, 1) 100%),
    url("../images/gallery4.jpg");
    background-size: 100% 100%;
    color: white;
    font-size: 30px;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
     padding:30px;
     max-width: 100%;
     height:auto;
}

.li-style-products-Edit{
  background-image:
    linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(0,0,0, 1) 100%),
    url("../images/gallery4.jpg");
    background-size: 100% 100%;
    color: white;
    font-size: 30px;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
    padding:30px;
    max-width: 100%;
    height:auto;
}

i.fa.fa-plus.fa-liicon {

  font-size: 50px;
  margin-bottom: 10px;
}

i.fa.fa-pencil.fa-liicon {

  font-size: 50px;
  margin-bottom: 10px;
}

.footer-background{
  background: #000;
}

footer.page-footer.font-small.mdb-color.text-white.Loginfooter {
    display: flex;
}

.box-membership{
    padding:30px 70px;
}


/* Header And Footer */

.Loginh3 {
    font-size: 30px;
    font-family: Oswald;
}


.imgnews{
  width:150px;
}


.wrap-text{
  margin: 12px 0px;
  font-family: Oswald;
}

header.DesktopHeader {
    display: block;
}

header.MobileHeader {
    display: none;
}


.Gallery-overlay {
    
}

.Gallery-overlay1 {
    
}

.h1Home{
	font-size: 50px;
    line-height: 1.3em !important;
    text-align: left;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
    color: #fff;
    background-color: #000;
    letter-spacing: 8.5px !important;
}


.h1Home h1{
    letter-spacing: 3px;
    font-weight: 700;
}

.First-column{
	background-color: #000;
}

.images-text{
	display: block;
    padding: 0 30px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
    font-weight: normal!important;
    top: 40%;
    color: white;
    opacity: 0;
  
    transform: translateY(-20px);
    transition: all .3s;
}

.imagesCover{
  display: block;
    width: 100%;
    height: auto;
    border: none;
    transform: scale(1);
    transition: all 1s;
}
.overlayimages  {
  color: white;
      width: 27.7%;
  height: 19%;
  position:absolute;
  bottom:0%;
  background: rgba(0,0,0,0.5);
  text-align: center;
  padding: 5px
}
.images-overlay{
	    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1 url(img/link.png) no-repeat center 20%;
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.6s;

}

.gallerycell{
	    display: block;
    position: relative;
    overflow: hidden;
}

.overlayimages1 {
    color: white;
    width: 27.7%;
    height: 21%;
    position: absolute;
    bottom: 0%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 3px;
}

.small1 {
    font-size: 65%;
   
}

.paragraphdesign{
    color: #fff;
    font-size: 15px;
   
}

.paragraphdesign1{
    
    padding:10px 0!important;

}
.kspan-style{
  margin-left: 0!important;
}


.overlayimages3{
  color: white;
    width: 31%;
    height: 20%;
    position: absolute;
    bottom: 0%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px !important;
    font-family: Oswald;
}


.overlayimages2 {
    color: white;
    width: 41%;
    height: 20%;
    position: absolute;
    bottom: 0%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    font-family: Oswald;
    padding: 5px;
}

.overlayimages12 {
    color: white;
    width: 39%;
    height: 20%;
    position: absolute;
    bottom: 0%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    font-family: Oswald;
    padding: 5px;
}

.overlayimages4 {
    color: white;
    width: 21%;
    height: 22%;
    position: absolute;
    bottom: 0%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px !important;
    font-family: Oswald;
}

button.btn.btn-style1{
    background-color: rgba(61, 142, 153, 1);
    border: solid rgba(255, 255, 255, 1) 0px;
    cursor: pointer !important;
    color: #000;
    font-weight: bold;
    padding: 10px 50px;
    margin:30px;
}

.btn-subscribe{
    background-color: rgba(176,56,32,1) !important;
    border-color: rgba(176,56,32,1);
    border-width: 2.7868852459016393px;
    color: #FFFFFF;
}

button.btn.btn-style1:hover {
    background-color: rgba(162, 156, 156, 1);
    border-color: rgba(255, 255, 255, 1);
    font-weight: bold;
    padding: 10px 50px;
     margin:30px;
}



.MailingList{
    padding:70px;
     background-color: #141414 !important;
}

.MailingList h1{
    letter-spacing: 0.1em;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;
    line-height: 1em;
    text-align: center;
    font-size: 55px;
}

.MailingList h2{
    letter-spacing: 0.05em;
    font-family: 'Bree Serif', serif;
   line-height: 1.4em;
    text-align: center;
    font-size: 25px;
    padding:10px 0px;
}

.subscribefield{
    border-width: 2.7868852459016393px !important;
    border-color: #A29C9C !important;
    background-color: #141414 !important;
    color: #A29C9C !important;
    border-radius: 0px!important;
    margin-bottom: 10px;
}
footer{
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn", sans-serif!important;

}

}

.card-header.Membershipcard{
    font-size:30px !important;
    text-align: center;
}