@media screen and (max-width: 567px) {



  .has-search .form-control {
    padding-left: 2.375rem;
    width: 286px !important;
}


header#DesktopFirstEvent {
    display: none;
}

header#MobileFirstHeaderEvent {
    display: block;
    flex-direction: row;
}

.overlayimages5 {
    color: white;
    width: 21%;
    height: 20%;
    position: absolute;
    bottom: 0%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 4px !important;
    font-family: 'Oswald', sans-serif;
    font-size: 6px;
}

.overlayimages6 {
    color: white;
    width: 47.4%;
    height: 23%;
    position: absolute;
    bottom: 0%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px !important;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
}

.overlayimages7 {
    color: white;
    width: 49.5%;
    height: 23%;
    position: absolute;
    bottom: 0%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px !important;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
}

input#Searchbar {
    margin-top: 15px;
}

div#file-upload-form {
    margin-top: 15px;
}
}