*{
	margin:0;
	padding:0;
	box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: 'Oswald', sans-serif;

}


@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
       
}


.Tile-style{
  font-size: 32px;
  font-weight:600;
  font-family: 'Oswald', sans-serif;
  color:#f0c14b!important;
  }



.form-control:focus {
 
    border-color: #a88734 #9c7e31 #846a29 !important;
    box-shadow: none!important;
}


.Login-Style{
    background-color:#fff!important; 
}

.formstyle{
    
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
}
.edit-btn-style
{
    padding: 10px 50px!important;
    border-radius: 1rem;
    padding: 1.5%;
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
    background: #f0c14b!important;
    border-color: #a88734 #9c7e31 #846a29;
}

.edit-btn-style:hover
{
    background-color: #111!important;
    border-style: 2px solid #fff!important;
    color:#fff!important;
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
}



.modal-body {
    border: 1px solid #c2cbd4 !important;
    padding: 30px !important;
    margin: 30px !important;
    border-radius: 10px;
}

img.img-fluid.img-thumbnail.thumbnail-size {
    width: 100px;
    height: auto;
}

.social{
  background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 20px !important;
}


/*Modal*/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 1;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.custom-file-label::after {
    
    background: #f0c14b!important;
    color:#000!important;
    
}

.custom-file-label::after:hover{
    
    background: #000!important;
    color:#fff!important;
    
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff !important;
  font-size: 60px !important;
  font-weight: bold;
  transition: 0.3s;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 567px){
  .modal-content {
    width: 100%;
  }
}





.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -14px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
      background-color: #000;
}
.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -14px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 3;
  transition: .5s ease;
/*      background-color: #000;*/
}
.container1:hover .overlay1 {
 opacity: 0.2;
}


.container1:hover .overlay {
 opacity: 0.2;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* upload CSS*/



#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.avatar-pic {
    width: 150px;
}

.z-depth-1-half {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
}

.input-group-append {
    background-color: #f0c14b!important;
}

.input-group-append:hover {
    background-color: #000!important;
    color: #fff;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}



input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}