.AdsImage img {
    box-shadow: 0px 1px 4px 1px #8c8c8c;
    border-radius: 10px;
}

.AdsImage h3 {
    color: #000;
}

@media only screen and (max-device-width: 767px) {
    .AdsImage {
        margin: auto;
        text-align: center;
    }
    .AdsImage img {
        text-align: center;
    }
}